<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>LeanEngine</h1>
    <p>功能列表</p>
    <p>当前时间：<%= currentTime %></p>
    <p><a href="/todos">一个简单的「TODO 列表」示例</a></p>
    <p><a href="/uploadimg">图片上传+++++</a></p>
    <p><a href="/newsup">文章上传+++++</a></p>
  </body>
</html>
