<!DOCTYPE HTML>
<html>
  <head>
    <title>file uploads</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>images upload</h1>

    <form enctype="multipart/form-data" method="post" action="/uploadimg">
      <input type="file" name="myFile">
      <input type="submit" name="submit" value="submit">
    </form>

  </body>
</html>
